{% extends "adminlte/base_without_nav.html" %}

{% block title %}Log In{% endblock %}
{% block description %}Log into your account!{% endblock %}
{% block bodytag %}hold-transition lockscreen{% endblock %}

{% block body %}
<div class="row">
<!-- Automatic element centering -->
<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <a href=" "><b>Rido</b> Taxi Services </a>
  </div>
 
  <!-- START LOCK SCREEN ITEM -->
  <div class="lockscreen-item">
    <!-- lockscreen image -->
    <div class="lockscreen-image">
      <img src="{{ current_user.avatar }}" alt="User Image">
    </div>
     <!-- User name -->
  <div class="lockscreen-name">{{ current_user.full_name }}</div>

    <!-- /.lockscreen-image -->


  </div>
  <!-- /.lockscreen-item -->
  <div class="help-block text-center">
  <span>
     Dashboard Page is not Ready. Try to Run the Simulation instead
  </span>
  </div>
  <div class="text-center">
    <a href="{{ url_for('input') }}"> <h2> Input Pages for Simulation Parameters </h2> </a>
  </div>
  <div class="lockscreen-footer text-center">
    Copyright &copy; 2014-2015 <b><a href="#" class="text-black">Rido Taxi Services</a></b><br>
    All rights reserved
  </div>
</div>
</div>
<!-- /.center -->
{% endblock body %}
